<div id="divBody">
    <div class="topMenu">
        <h1>Room Conquest</h1>
    </div>
    <div id="sidebar" class="sidebar">
        <div class="stickySidebar">
            <button id="toggleTerritories">Hide Territories</button>
            <div id="territoryDisplay" class="territorySidebar"></div>

            <button id="togglePlayer">Show Player Stats</button>
            
            <div id="playerDisplay" style="display:none;"></div>
            <div id="pointsRemainingDivLabel" style="display:none;">Points Remaining: </div>
            <div id="pointsRemainingSide" style="display:none;"></div>

            <button id="toggleActions">Hide Player Actions</button>
            <div id="playerActions">
                <div id="displayPlayerObj"></div>
                <div>Turns Passed: </div>
                <div id="turnsPassed"></div>

                {{!-- <div>Health Left: </div>
                <div id="healthLeft"></div> --}}

                <div>Actions Left: </div>
                <div id="actionsLeft">
                </div>

                <button id="scanTerritory">Scan Territory</button>
                <button id="endTurn">End Turn</button>
            </div>
            <button id="battleButton">Battle</button>

            <p>
                <button id="disableScrolling" onclick="disableScroll()">Disable Scrolling</button>
                <button id="enableScrolling" onclick="enableScroll()">Enable Scrolling</button>
            </p>
        </div>
    </div>

    <div id="main" class="mainContainer">
        <form id="playerStatsForm" class="form">
            <div>
                <label for="charName">Character Name</label>
                <input type="text" name="charName" id="charName">
            </div>

            <div class="addSelectClass">
                <label for="addPowerClass">Add Power Class</label>
                <select name="addPowerClass" id="addPowerClass">
                    
                </select>
                <div>
                    <div>Price: </div>
                    <div id="elementPrice"></div>
                </div>
                <button id="buyPowerClass">Purchase</button>
                <br>
            </div>

            <div  class="addSelectClass">
                <label for="addAbility">Add Ability</label>
                <select name="addAbility" id="addAbility">
                </select>
                <div>
                    <div>Price: </div>
                    <div id="abilityPrice"></div>
                </div>
                <button id="buyAbility">Purchase</button>
                <br>
            </div>

            {{!-- <div class="addSelectClass">
                <label for="addAbilityLevel">Add Level</label>
                <select name="addAbilityLevel" id="addAbilityLevel">
                </select>
                <div>
                    <div>Price: </div>
                    <div id="levelPrice"></div>
                </div>
                <button id="buyLevel">Purchase</button>
                <br>
            </div> --}}

            <div>
                <div>Points Remaining: </div>
                <div id="pointsRemaining">
                </div>
                <button id="playerStatsToggle">Hide Player Stats</button>
                <div id="playerStats0"></div>
                <div>
                    <button id="startGameB">Start Game</button>
                </div>
            </div>
        </form>

        <div id="board" class="board" style="display:none;">
        </div>
    </div>
</div>

<script>
    //https://www.geeksforgeeks.org/how-to-disable-scrolling-temporarily-using-javascript/#:~:text=Scrolling%20can%20be%20disabled%20using%20JavaScript%20using%202,scroll%20happens%20will%20effectively%20disable%20the%20scroll%20effect.
    function disableScroll() {
    // Get the current page scroll position
    scrollTop = 
    window.pageYOffset || document.documentElement.scrollTop;
    scrollLeft = 
    window.pageXOffset || document.documentElement.scrollLeft,

        // if any scroll is attempted,
        // set this to the previous value
        window.onscroll = function() {
            window.scrollTo(scrollLeft, scrollTop);
        };
    }

    function enableScroll() {
        window.onscroll = function() {};
    }
</script>

{{!--  type="module" --}}
<script type="module" src="./src/index.js"></script>