<h1>Room Conquest</h1>

<form id="playerStats" class="form">
    <label for="charName">Character Name</label>
    <input type="text" name="charName" id="charName">

    <label for="addPowerClass">Add Power Class</label>
    <select name="addPowerClass" id="addPowerClass">
    </select>
    <div>
        <div>Price: </div>
        <div id="elementPrice"></div>
    </div>

    <br>
    <div>
        <div>Points Remaining: </div>
        <div id="pointsRemaining"></div>
    </div>
</form>

<div id="board" class="board">
</div>

<script type="module" src="./src/index.js"></script>