<h1>Room Conquest</h1>

<form id="playerStats" class="form">
    <label for="charName">Character Name</label>
    <input type="text" name="charName" id="charName">

    <label for="characterClass"></label>
</form>

<div id="board" class="board">

</div>

<script src="./src/index.js"></script>